.App{
  .sort{
    padding: 20px 0 10px;
    p{
      line-height: 30px;
      margin-bottom: 10px;
    }
    a{
      color: #666
    }
  }
  .list{
    padding: 0 10px;
    .header{
      h3{
        line-height: 30px;
      }
      span{
        font-size: 12px;
        color: #aaa;
      }
    }
  }
}

.City{
  .cityList{
    padding: 20px 0;
    .title{
      height: 16px;
      border-bottom: 1px solid #eee;
      text-align: center;
      h3{
        font-size: 16px;
        line-height: 30px;
        padding: 0 15px;
        color: #666;
        background-color: #fff;
        display: inline-block;
      }
    }
    .body{
      text-align: center;
      padding: 20px 0;
      .item{
        line-height: 30px;
        font-size: 14px;
      }
      a{
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
}